<web-app>
    <servlet>
        <servlet-name>TodoServlet</servlet-name>
        <servlet-class>servlet.TodoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>TodoServlet</servlet-name>
        <url-pattern>/todos</url-pattern>
    </servlet-mapping>
</web-app>